<template>
  <div v-if="mySafario" class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Example Field</label>
        <input
          disabled
          type="text"
          class="form-control"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SafarioDetail',
  props: {
    safario: Object
  },
  data () {
    return {
      mySafario: undefined
    }
  },
  methods: {
    onUpdate () {
      this.$emit('onUpdate', this.mySafario)
    }
  },
  watch: {
    safario (n, o) {
      this.mySafario = n
    }
  },
  mounted () {
    this.mySafario = this.safario
  }
}
</script>
