<template>
  <div>
    <div class="row mb-4">
      <div class="col-md-12">
        <button @click="onCreateSafario" class="btn btn-primary float-right">
          Safario Baru
        </button>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">
        <common-card>
          <span slot="title">Filter</span>
          <safario-filter slot="content" @onFilter="onFilterSafario" />
        </common-card>
      </div>
      <div class="col-md-9">
        <common-card>
          <span slot="title">Daftar Safario</span>
          <safario-list slot="content" :safarios="safarios" @onSelect="onSelectSafario" />
        </common-card>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <b-pagination
          class="float-right"
          v-model="querySafario.page"
          :total-rows="paginationSafario.count"
          @change="onPaginateSafario"
          :per-page="25"
          aria-controls="my-table"
        >
        </b-pagination>
      </div>
    </div>
    <!-- modal-safario-detail -->
    <b-modal
      id="modal-SafarioDetail"
      v-if="safario"
      ref="modal-SafarioDetail"
      hide-footer
      size="lg"
    >
      <div class="row mb-2">
        <div class="col-md-6">
          <h5>Safario</h5>
        </div>
        <div class="col-md-6">
          <button
            v-if="safario.is_draft"
            class="btn btn-primary float-right ml-2"
            @click="onPublishSafario"
          >
            Publikasi
          </button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          <safario-detail :poly="safario" @onUpdate="onUpdateSafario" />
        </div>
      </div>
    </b-modal>
    <!-- ./modal-safario-detail -->
  </div>
</template>

<script>
import _ from 'underscore'

import MixinHttp from '@/Mixins/MixinHttp'
import HelperNotify from '@/Helpers/HelperNotify'
import CommonCard from '@/Commons/CommonCard'

import SafarioService from '@/Application/Safarios/PolyService'
import SafarioList from '@/Application/Safarios/Components/SafarioList'
import SafarioFilter from '@/Application/Safarios/Components/SafarioFilter'
import SafarioDetail from '@/Application/Safarios/Components/SafarioDetail'

export default {
  name: 'SafarioPopupSingle',
  components: {
    'common-card': CommonCard,
    'safario-list': SafarioList,
    'safario-filter': SafarioFilter,
    'safario-detail': SafarioDetail
  },
  mixins: [
    MixinHttp,
    HelperNotify,
    SafarioService
  ],
  props: {
    query: Object
  },
  methods: {
    init () {
      this.querySafario = _.extend(
        {},
        this.querySafario,
        this.query
      )
      this.httpInit()
      this.listSafario()
    },
    onSelectSafario (safario) {
      this.retrieveSafario(safario.id)
        .then((response) => {
          this.$emit('onSelect', this.safario)
        })
    },
    onFilterSafario (query) {
      this.querySafario.safario_number = query.safario_number
      this.querySafario.name = query.name
      this.init()
    },
    onPaginateSafario (page) {
      this.querySafario.page = page
      this.init()
    },
    onCreateSafario () {
      this.createSafario()
        .then((response) => {
          this.$refs['modal-SafarioDetail'].show()
          this.init()
        })
    },
    onPublishSafario () {
      this.publishSafario(this.safario.id)
        .then((response) => {
          this.$refs['modal-SafarioDetail'].hide()
          this.init()
          this.$emit('onSelect', this.safario)
        })
    },
    onUpdateSafario (safario) {
      const payload = {
        name: safario.name
      }
      this.updatePoly(safario.id, payload)
        .then((response) => {
          this.init()
        })
    }
  },
  mounted () {
    this.init()
  }
}
</script>

<style>

</style>
