<template>
  <section v-if="banner" class="hero-banner magic-ball">
    <div class="container">
      <div class="row align-items-center text-center text-md-left">
        <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
          <h1>{{ banner.title }}</h1>
          <p>
            {{ banner.content }}
          </p>
          <a class="button button-hero mt-4" :href="banner.link">Get Started</a>
        </div>
        <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
          <img class="img-fluid" :src="banner.image_url" alt="">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BannerData from '@/Data/BannerData'

export default {
  name: 'CommonBanner',
  data () {
    return {
      banner: BannerData
    }
  }
}
</script>

<style>

</style>
