<template>
  <div>
    <common-header></common-header>
    <common-banner></common-banner>
    <common-footer></common-footer>
  </div>
</template>

<script>
import CommonHeader from '@/Commons/CommonHeader'
import CommonBanner from '@/Commons/CommonBanner'
import CommonFooter from '@/Commons/CommonFooter'

export default {
  name: 'SafarioExampleManager',
  components: {
    'common-header': CommonHeader,
    'common-banner': CommonBanner,
    'common-footer': CommonFooter
  }
}
</script>

<style>

</style>
